[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
requests = "*"

[packages]
boto3 = "*"
requests = "*"
pip = "*"

[requires]
python_version = "2.7"
